ICICI_PDF_PASSWORD=

HDFC_PDF_PASSWORD=

KOTAK_PDF_PASSWORD=

STANDARD_CHARTERED_PDF_PASSWORD=


ICICI_CARD_1_NUMBER=
ICICI_CARD_1_NAME=

ICICI_CARD_2_NUMBER=
ICICI_CARD_2_NAME=

KOTAK_CARD_1_NUMBER=
KOTAK_CARD_1_NAME=

HDFC_CARD_1_NUMBER=
HDFC_CARD_1_NAME=

STANDARD_CHARTERED_CARD_1_NUMBER=
STANDARD_CHARTERED_CARD_1_NAME=
